<h2>Editar perfil</h2>

<% if @profile.errors.any? %>
    <% @profile.errors.full_messages.each do |msg| %>
        <div class="alert"><%= msg %></div>
    <% end %>
<% end %>

<% if current_account.personal? %>
  <%= render 'form_personal' %>
<% else %>
  <%= render 'form_customer' %>
<% end %>
