<h1>Agenda</h1>
<li><%= @schedule.date %></li>
<li>Horário de início: <%= @schedule.start %>h</li>
<li>Horário de término: <%= @schedule.finish %>h</li>
<li>Valor da hora/aula: R$<%= @schedule.price %></li>
