<h2>Títulos principais: usar h2</h2>
<p>Esta página é provisória para exemplos de formatação de texto.</p>
<p>Tempor et eos dolore erat sea sit ut elitr, labore ea stet aliquyam eos aliquyam voluptua sit accusam vero, et sadipscing sit sit elitr ipsum et amet eos. Eos kasd erat takimata ea stet diam justo sea nonumy, invidunt amet.</p>

<h2>Botões</h2>
    <%= link_to 'Botão primário', root_path, class: "btn btn-black btn-sm" %>
    <%= link_to 'Botão secundário', root_path, class: "btn btn-yellow btn-sm" %><br><br>
    <%= link_to 'Recusar', root_path, class: "btn btn-danger btn-sm" %>
    <%= link_to 'Aceitar', root_path, class: "btn btn-success btn-sm" %><br><br>

<h2>Formatação</h2>
<div class="notice">Sucesso</div><br>
<div class="alert">Erro</div>
<p>
  Et ipsum labore <b>aliquyam et nonumy</b>, at takimata sadipscing nonumy stet ipsum ipsum. <i>Aliquyam et voluptua dolore rebum ut no lorem tempor sea, dolor sit tempor amet consetetur kasd kasd nonumy clita.</i> Sed et et voluptua lorem. <a href="#">Sed elitr</a> erat.
</p>

<table class="col-sm-12">
    <th>TABELA TÍTULO</th>
      <tr>
        <td class="attribute">ATRIBUTO</td>
        <td>VALOR</td>
      </tr>

      <tr>
        <td class="attribute">ATRIBUTO</td>
        <td>VALOR</td>
      </tr>
</table>

<table class="col-sm-6">
    <th>TABELA PELA METADE</th>
      <tr>
        <td class="attribute">ATRIBUTO</td>
        <td>VALOR</td>
      </tr>

      <tr>
        <td class="attribute">ATRIBUTO</td>
        <td>VALOR</td>
      </tr>
</table>