
<% @gyms.each do |gym|%>
<div class="academias">
  <h3><%= gym[:name] %></h3>
  <p><strong>Endereço: </strong> <%= gym[:address] %></p>
  <p><strong>Funcionamento: </strong> de <%= "#{gym[:working_days]}, das #{gym[:open_hour]} às #{gym[:close_hour]}" %></p>
</div>
<br>
<% end %>