<h1>Título 1</h1>
<p>Tempor et eos dolore erat sea sit ut elitr, labore ea stet aliquyam eos aliquyam voluptua sit accusam vero, et sadipscing sit sit elitr ipsum et amet eos. Eos kasd erat takimata ea stet diam justo sea nonumy, invidunt amet.</p>

<p>
    <%= link_to 'Botão 1', root_path, class: "btn btn-black btn-sm" %>
    <%= link_to 'Botão 2', root_path, class: "btn btn-yellow btn-sm" %>
    <%= link_to 'Botão 3', root_path, class: "btn btn-danger btn-sm" %>
    <%= link_to 'Botão 4', root_path, class: "btn btn-success btn-sm" %>
</p>


<h2>Título 2</h2>
<p>Of are did to to along, if fall nor dwelt vaunted to friends. Heart but.</p>

<h3>Título 3</h3>
<p>Logxas montris levis en boato tien-cxi de, juste ke mauxro ili alproksimigxis pafajxo la, pligrandigxis cxion lancon jaro cxio vidi.</p>

<h4>Título 4</h4>
<p>Logxas montris levis en boato tien-cxi de, juste ke mauxro ili alproksimigxis pafajxo la, pligrandigxis cxion lancon jaro cxio vidi.</p>


<h5>Título 5</h5>
<p>Logxas montris levis en boato tien-cxi de, juste ke mauxro ili alproksimigxis pafajxo la, pligrandigxis cxion lancon jaro cxio vidi.</p>


<h6>Título 6</h6>
<p>Logxas montris levis en boato tien-cxi de, juste ke mauxro ili alproksimigxis pafajxo la, pligrandigxis cxion lancon jaro cxio vidi.</p>

<table class="col-sm-12">
    <th>TABELA TÍTULO</th>
      <tr>
        <td class="attribute">ATRIBUTO</td>
        <td>VALOR</td>
      </tr>

      <tr>
        <td class="attribute">ATRIBUTO</td>
        <td>VALOR</td>
      </tr>
</table>

<table class="col-sm-6">
    <th>TABELA PELA METADE</th>
      <tr>
        <td class="attribute">ATRIBUTO</td>
        <td>VALOR</td>
      </tr>

      <tr>
        <td class="attribute">ATRIBUTO</td>
        <td>VALOR</td>
      </tr>
</table>