<h2>Unidades Disponíveis</h2>

<% if @units.empty? %>
  <div class="alert" role="alert">
    Nenhuma Unidade Disponível no Momento
  </div>
<% else %>
  <% if current_account && current_account.unit %>
    <div id="current_unit">
      <span>Sua unidade atual é <%= current_account.unit.name %>.</span>
    </div>
  <% end %>
  <ul>
  <% @units.each do |unit| %>
    <% if current_account && current_account.type == "Customer" %>
      <li><%= link_to unit[:name], unit_path(unit) %></li>
    <% else %>
      <li><%=  unit[:name] %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
