$light: #EEE;
$dark: #333;
$primary: #fcb823;
$green: #33BB44;
$red: #DD3322;
$font-stack: "Helvetica", sans-serif;

body{
    font: 10pt $font-stack;
    color: $font-stack;
    background: $dark;
    padding-bottom:0px;
}

.container{
    background: #FFF;
    box-shadow: 0 0 50px #000;
    max-width: 1000px;

    nav{
        background: #000;
        color: $light;
        padding: 5px 0px;
        line-height:25px;


        #top-menu{
            font: 8pt $font-stack;
            text-transform: uppercase;
        }
    }

    main{

        p, span{
            a{
            color: $primary;
            font-weight: bold;
            }

            a:hover{
                text-decoration: none;
                color:$light;
                background: #000;
            }
        }

        h1,h2,h3,h4,h5{
            color: $primary;
            display: block;
            border-bottom: 2px solid $dark;
        }

        ul{
            padding: 5px 20px;
            line-height: 14pt;

            a{
                color: #000;
                text-decoration: none;
                font-weight: bold;
            }

            a:hover, a:active{
                color: $primary;
            }
        }

    }

    footer{
        background: #000;
        color: $light;
        padding: 10px 0px;
        font: 9pt $font-stack;

        img{
            width: 50px;
        }

        hr{
            border: 0.1em solid #FFF;
            width: 200px;
        }
    }

    .link_list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height:25px;

        li{
            display: inline;
            border-right: 1px solid $light;
            padding: 0px 10px;

            a{
                color: $light;
            }

            :hover, :active{
                color: $primary;
                text-decoration: none;
            }
        }

        li:last-child{
            border-right: none;
        }
    }

    .logo{
        margin: 0;

        img{
            height: 20px;
        }

    }

    .alert {
      color: $red;
      border: solid 1px $red;
      text-align: center;
      margin: 5px;
      padding:10px;
      border-radius: 5px;
    }

    .notice {
      color: $green;
      border: solid 1px $green;
      text-align: center;
      margin: 5px;
      padding:10px;
      border-radius: 5px;
    }
}

.btn-yellow{
    background: $primary;
    color: $dark;
}

.btn-yellow:hover{
    color: #000;
}

.btn-black{
    background: $dark;
    color: $light;
}

.btn-black:hover{
    color: #FFF;
}

#current_unit{
    background: $dark;
    color: $light;
    width: 100%;
    padding:10px;
}

table{
    background: $dark;
    border: 2px solid #FFF;
    table-layout: fixed;
    margin: auto;

    tr{
        td{
            background: #FFF;
            text-align: left;
            padding: 2px 5px;
            border-top: 1px solid $dark;
        }

        .attribute{
            background: $light;
            text-align: right;
            font-weight: bold;
        }
    }

    th{
        font-size: 12pt;
        text-transform: uppercase;
        padding: 5px;
        color: $primary;
        font-weight: normal;
    }
}

#devise_form{
    max-width: 600px;
    margin: auto;
}
